# IDE project info
.idea

# App dependencies
node_modules

# NPM debug info
npm-debug.log

# App config
config.js

# Packed dist files
src/server.dist.js
src/server.dist.js.map
src/public/js/app.js
src/public/assets.json
